## --- Visual Studio & .NET ---
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
publish/

## --- Базы данных и контейнеры ---
pgdata/
*.db
*.sqlite3

## --- Переменные окружения ---
.env

## --- Python ---
__pycache__/
*.pyc
.venv/
venv/

## --- Frontend  ---
node_modules/
dist/

## --- Редакторы и ОС ---
.vscode/
.DS_Store
Thumbs.db